
:root{
    --white: #FFF;
    --blue: #26C6EA;
    --dark-blue: #0B0E66;
    --black: #000;
    --light-blue: #94CFFF;
    --blue-vary-black: #0A3853;
    --light-black: #141414;
}

.conteiner{
    width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 400;
    max-width: 1440px;
    margin: 0 auto;
    
}

p{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

.conteiner-header{
    margin-left: auto;
    width: 1060px;
}

.header{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(rgba(43, 74, 97, 0.87),
    rgba(43, 74, 97, 0.87)),
    url(../images/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 3px solid var(--white);
    padding-left: 205px;
    padding-right: 40px;
    padding-top: 40px;
    max-width: 1440px;
    margin: 0 auto;
}
/* Navigation */
.navigation,.menu{
    display: flex;
    align-items: center;
}

.menu{
    margin-left: 168px;
}

.menu-item:nth-child(n+2){
    padding-left: 38px;
}

.menu-item{
    margin-top: 25px;
    margin-bottom: 34px;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
}

.nav{
    color: var(--white);
}

.login{
    padding: 5px 36px;
    color: var(--blue);
    background-color: var(--dark-blue);
    font-weight: 300;
    font-size: 20px;
    margin-left: auto;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: 3px solid var(--blue);
    font-family: 'HeadlandOne';
    width: 141px;
    text-align: center;
    height: 40px;

}

.nav:hover,
.nav:focus{
    color: var(--light-blue);
    font-weight: 600;
    line-height: 1.2;
}

.language{
    margin-left: 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 107px;
}

.switcher-img{
   width: 36px;
   height: 20px;
}

.set-up-lang{
    color: var(--white);
    font-size: 16px;
    font-family: "Hammersmith One";
}

.hero-div{
    height: 740px;
    padding-top: 180px;
    padding-bottom: 179px;
    display: flex;
    justify-content: space-between;
}

.hero-section{
    background: url(../images/avatar-s-kope.png) left/100% no-repeat;
}

.navi-lang{
    width: 290px;
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.ua-lang{
    width: 376px;
    font-size: 20px;
    color: var(--white);
}

.join-clan{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 52px;
    color: var(--blue);
    width: 260px;
    height: 80px;
    text-align: center;
    border-radius: 45px 0px;
    border: 3px solid var(--blue);
    background: var(--dark-blue);
    padding: 10px 30px;
    font-family: "HeadlandOne";
}
/* Icon */
.icon-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
}
/* Quote */
.quote{
    color: var(--blue-vary-black);
    text-align: center;
    font-size: 36px;
}

.jake{
    margin-top: 16px;
    text-align: center;
    color: var(--black);
    font-size: 24px;
}

.angel{
    margin-top: 8px;
    margin-left: 309px;
    width: 400px;
    height: 120px;
    background-image: url(../images/logo.png);
}

.jake-S{
    margin-top: 75px;
    margin-bottom: 10px;
}

.video-trailer{
    height: 741px;
    background: url(../images/avatar-woman.png) center/100% no-repeat;
    padding-top: 330px;
}

.video{
    border-radius: 45px 0px;
    border: 3px solid var(--blue);
    background: var(--dark-blue);
    width: 260px;
    height: 80px;
    padding-top: 20px;
}

.trailer{
    color: var(--blue);
}

.sky{
    height: 704px;
    margin-bottom: 57px;
    background: url(../images/ostrova.jpg) top/100% no-repeat;
}
/* Language */

.learn-lang{
    font-size: 32px;
    color: var(--light-black);
    line-height: 1.25;
    text-align: center;
    padding-top: 58px;
    margin-bottom: 45px;
}

.link-lang-learn {
    display: flex;
    row-gap: 25px;
    column-gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
}

.item-lang {
    background: rgba(255, 255, 255, 0.70);
    flex-basis: calc((100% - 70px) / 3);
    height: 240px;
}

.link-lang-ua{
    padding-bottom: 40px;
    padding-top: 36px;
    text-align: center;
    line-height: 100%;
}

.link-img-lang{
    margin-left: 84px;
    margin-right: 84px;
    width: 152px;
    height: 40px;
}

.link-lang-navi{
    text-align: center;
    padding-bottom: 36px;
    margin-top: 40px;
    line-height: 100%;
}

.navi-lang::after{
    display: block;
    content: "";
    background-image: url(../images/kope-white.png);
    width: 152px;
    height: 40px;
    margin-left: 50px;
}
/* Footer */
.footer{
    background-image: linear-gradient(rgba(43, 74, 97, 0.87),rgba(43, 74, 97, 0.87)),
    url(../images/footer-photo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-top: 35px;
    padding-bottom: 76px;
    height: 223px;
    padding-top: 35px;
    padding-bottom: 25px;
}

.position-footer{
    display: flex;
    align-items: center;
}

.logo-footer{
    display: flex;
    align-items: center;
}

.logo-footer::after{
    content: "";
    width: 2px;
    height: 153px;
    background-image: url(../images/line.png);
    margin: 0 80px;
}

.menu-contact{
    margin-top: 69px;
}

.email-qa, .gmail-qa{
    display: flex;
    font-size: 20px;
    color: var(--white);
    line-height: 1.2;
}

.email-coop, .gmail-coop{
    display: flex;
    font-size: 20px;
    color: var(--white);
    line-height: 1.2;
}

.item-contact{
    display: flex;
    align-items: center;
}

.item-coop{
    padding-top: 16px;
    padding-bottom: 37px;
}

.email-qa::after{
    padding: 0 20px;
    background-image: url(../images/linelong.png);
    content: "";
    width: 269px;
    height: 2px;
    margin: 0 20px;
    align-self: center;
}
.email-coop::after{
    padding: 0 20px;
    background-image: url(../images/linelong.png);
    content: "";
    width: 194px;
    height: 2px;
    align-self: center;
    margin: 0 18px;
}

.gmail-qa{
    color: var(--white);
    font-size: 20px;
}

.rights-protected{
    display: flex;
    font-size: 14px;
    text-align: center;
    color: var(--white);
    margin-left: 130px;
}

.contacts{
    display: flex;
    justify-content: center;
}